

<div class="container-fluid">       
<div class="card text-center mt-auto">
  <div class="card-header">

  </div>
  <div class="card-body">
    
    <h3 class="card-title">Bienvenido!</h5>
    <p class="card-text">Te invitamos a ingresar a nuestro portal</p>
    <a href="#" class="btn  text-dark" style="background-color: #e3f2fd">Login</a>
  </div>
  <div class="card-footer text-body-secondary">
    <p>No estas registrado? Realiza el registro de manera simple </p>
    <a href="#" class="btn  text-dark" style="background-color: #e3f2fd">Registro</a>
    <a href="#" class="btn  text-dark" style="background-color: #e3f2fd">Registro con GitHub</a>
  </div>
</div>
</div>

