<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">Products</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">New Product</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Update Product</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Back Home</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logout</a>
    </div>
  </nav>
</nav>

<div class="card text-center mt-auto">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">Bienvenido al portal del Administrador!</h5>
    <p class="card-text">Te invitamos crear, cambiar y eliminar los productos
      que vos quieras.</p>
    <a href="#" class="btn btn-dark">Ver productos</a>
  </div>
  <div class="card-footer text-body-secondary">

  </div>
</div>