<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="#">All Products</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="#">New Product</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="#">Update own Product</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="#">Back Home</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="#">Logout</a>
    </div>
  </nav>
</nav>

<div class="card text-center mt-auto">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5>Hola ... </h5>
    <h3 class="card-title">Bienvenido al portal del Usuario Premiun!</h5>
    <p class="card-text">Te invitamos crear, cambiar y eliminar productos de tu
      autoria, cuando quieras.</p>
    <a href="#" class="btn btn-dark text-warning">Ver mis productos</a>
  </div>
  <div class="card-footer text-body-secondary">

  </div>
</div>