<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
 <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Products</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">¿Queres ser premiun?</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Logout</a>
        </li>
         
  </div>
</nav>

<div class="card text-center mt-auto">
  <div class="card-header">

  </div>
  <div class="card-body">
    
    <h3 class="card-title">Bienvenido al portal del Usuario Logueado!</h5>
    <p class="card-text">Te invitamos a mirar y comprar nuestros productos.</p>
    <a href="#" class="btn  text-dark" style="background-color: #e3f2fd">Ver productos</a>
  </div>
  <div class="card-footer text-body-secondary">

  </div>
</div>