<div class="container text-center">
  <div class="row">
    <div class="col">
      <form method="POST" id="formLogin">

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" />

        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
          />
        </div>

        <button
          type="submit"
          onclick="formLogin()"
          class="btn btn-primary"
        >Ingresar!</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>