<div class="container text-center">
  <div class="row">
    <div class="col">
      <form method="POST" id="formRegister">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="name" id="name" />
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            name="lastname"
            id="lastname"
          />
        </div>

        <div class="mb-3">

          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" />

        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
          />
        </div>

        <button
          type="submit"
          onclick="formRegister()"
          class="btn btn-primary"
        >Registrarse</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>